:root {
    --main-color: rgb(255, 48, 91);
    --bg-color: #151515;
    --second-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: #fff;
}

p {
    color: #c1c1c1;
}

section {
    background-color: var(--bg-color);
    padding-block: 40px;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    width: fit-content;
}

.title .lines {
    margin: 15px auto;
}

.title .lines span {
    width: 50%;
    display: block;
    height: 1px;
    background-color: var(--main-color);
    margin: auto;   
}

.title .lines span:nth-of-type(2) {
    margin-block: 5px;
    width: 100%;
}

button {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: var(--main-color);
    transition-duration: .5s;
}

button:hover {
    color: #fff; 
    background-color: var(--main-color); 
}