@media (max-width: 1300px) {
    nav .container {
        width: 90%;
    }

    nav .container .logo {
        width: 20%;
    }

    nav .container .links .burger {
        width: 50px;
        height: 40px;
        border: 1px solid var(--main-color);
        border-radius: 5px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        transition-duration: 1s;
    } 

    nav .container .links .burger span {
        width: 70%;
        height: 2px;
        background-color: var(--main-color);
    }

    nav .container .links ul {
        position: absolute;
        bottom: -10px;
        left: 50%;
        background-color: var(--second-color);
        transform: translate(-50%, 100%);
        width: 90%;
        height: 0;
        flex-direction: column;
        text-align: center;
        border-radius: 5px;
        row-gap: 20px;
        transition-duration: 1s;
        overflow: hidden;
    } 
    
    nav .container .links .burger:focus + ul {
        height: 244px;
        padding-block: 15px;
    }    

    header .content h4 {
        font-size: 20px;
    }

    header .content h1 {
        font-size: 40px;
    }

    header .content p {
        font-size: 16px;
    }

    #About .container {
        flex-wrap: wrap;
        width: 90%;
    }

    #About .container .part {
        width: 100%;
    }

    #About .container .part .frame {
        width: 220px;
        margin-bottom: 50px;
    }

    #About .container .part2 .info .col {
        flex-basis: 100%;
    }

    #Services .container .content .box  {
        width: 100%;
    }

    #Services .container .content .box:not(:last-child) {
        margin-bottom: 30px;
    }

    #Portfolio .container .content .box {
        width: 100%;
    }

    #Portfolio .container .content .box .item {
        width: 250px;
        margin: auto;
    }

    #Portfolio .container .content .box:not(:last-child) {
        margin-bottom: 20px;
    }

    #Portfolio .container .content .box .item .head a {
        font-size: 12px;
    }

    #Blog .container .content .box {
        width: 100%;
    }
    
    #Blog .container .content .box:not(:last-child) {
        margin-bottom: 20px;
    }

    #Blog .container .content .box .item{
        width: 250px;
    }

    #Contact .container .content form,
    #Contact .container .content form button {
        width: 250px;
    }

    #Contact .container .content form .data:nth-of-type(1),
    #Contact .container .content form .data:nth-of-type(2) {
        width: 100%;
    }

    #Contact .container .content form .data:nth-of-type(2) .item,
    #Contact .container .content form .data:nth-of-type(1) .item {
        margin: 0;
    }

}

@media (min-width: 371px) and (max-width: 1300px) {
    nav .container .logo {
        width: 15%;
    }

    header .content h4 {
        font-size: 25px;
    }

    header .content h1 {
        font-size: 50px;
    }

    header .content p {
        font-size: 20px;
    }

    #About .container .part .frame {
        width: 280px;
        margin-bottom: 50px;
    }

    #About .container .part2 .info .col {
        margin-bottom: 10px;
    }

    #About .container .part2 .info .col {
        flex-basis: 50%;
    }

    #About .container .part2 .info .col h4 {
        font-size: 11px;
    }

    #About .container .part2 .info .col p {
        font-size: 12px;
    }

    #Services .container .content .box .item  {
        width: 280px;
        margin: auto;
    }

    #Portfolio .container .content .box .item {
        width: 280px;
        margin: auto;
    }

    #Blog .container .content .box .item{
        width: 280px;
    }

    #Contact .container .content form,
    #Contact .container .content form button {
        width: 280px;
    }

}

@media (min-width: 577px) and (max-width: 1300px) {
    nav .container .logo {
        width: 10%;
    }

    #Services .container .content .box {
        width: 50%;
    }

    #Services .container .content .box .item {
        width: initial;
        margin-inline: 10px;
    }

    #Portfolio .container .content .box {
        width: 50%;
    }

    #Portfolio .container .content .box .item {
        width: initial;
        margin-inline: 10px;
    }

    #Blog .container .content .box {
        width: 50%;
    }

    #Blog .container .content .box .item {
        width: initial;
        margin-inline: 10px;
    }

    #Blog .container .content .box .item .body h5 {
        font-size: 13px;
    }

    #Blog .container .content .box .item .body h3 {
        font-size: 16px;
    }

    #Contact .container .content form,
    #Contact .container .content form button {
        width: 350px;
    }

}

@media (min-width: 769px) and (max-width: 1300px) {
    nav .container .logo {
        width: 5%;
    }

     nav .container .links ul {
         width: 70%;
     }

    header .content h4 {
        font-size: 30px;
    }

    header .content h1 {
        font-size: 80px;
    }

    #About .container .part {
        width: 50%;
    }

    #About .container .part2 .info .col h4 {
        font-size: 13px;
    }

    #About .container .part2 .info .col p {
        font-size: 12px;
    }

    #Blog .container .content .box .item {
        width: 280px;
    }

    #Contact .container .content form,
    #Contact .container .content form button {
        width: 500px;
    }

    #Contact .container .content form .data:nth-of-type(1),
    #Contact .container .content form .data:nth-of-type(2) {
        width: 50%;
    }

    #Contact .container .content form .data:nth-of-type(1) .item {
        margin-right: 5px;
    }

    #Contact .container .content form .data:nth-of-type(2) .item {
        margin-left: 5px;
    }

}

@media (min-width: 992px) and (max-width: 1300px) {

    #Services .container {
        width: 90%;
    }

    #Portfolio .container .content .box {
        width: 33.33%;
    }

    #Services .container .content .box {
        width: 25%;
    }

    #Blog .container .content .box {
        width: 33.33%;
    }

    #Blog .container .content .box .item {
        width: initial;
        margin-inline: 10px;
    }

}
    
@media (min-width: 1181px) and (max-width: 1300px) {}
