/* Start navBar */

nav {
    background-color: var(--second-color);
    padding-block: 5px;
    position: fixed;
    z-index: 1000;
    width: 100%;     /* Why */
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo {
    width: 6%;
}

nav .container .logo img {
    width: 100%;
}

nav .container .links button {
    display: none;
}

nav .container .links ul {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

/* nav .links ul li {
    color: #fff;                  Why do not Inherted
    text-decoration: none             
} */

nav .container .links ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.5px;
    position: relative;
    transition-duration: 1s;
}

nav .container .links ul li.active a,
nav .container .links ul li:hover a {
    color: var(--main-color);
}

nav .container .links ul li.active a::after {
    color: var(--main-color);
}

nav .container .links ul li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);    /* Why */
    transition-duration: .5s;
}

nav .container .links ul li:hover a::after,
nav .container .links ul li.active a::after {
    width: 100%;
}

/* End navbar */

/* Start Header Page */

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../fokir_images/slider-01-cd8154e4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

header::before {
    content: "";
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
}

header .content {
    color: #fff;
    position: relative;
}

header .content h4 {
    font-size: 30px;
    font-weight: 400;
}

header .content h1 {
    font-size: 80px;
    font-weight: 600;
    margin-block: 10px;
    color: var(--main-color);
}

header .content p {
    font-size: 20px;
}

header .content p::after {
    content: "Designer |";
    animation-name: header_Paragraph_animation;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header a.shape {
    width: 30px;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 2px solid var(--main-color);
    overflow: hidden;
}

/* header a.shape {
    display: flex;                         Why Not
    justify-content: center;
    align-items: center;
} */

header a.shape::after {
    content: "";
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: header_Anchor_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* End Header Page */

/* Start About Section */

#About .container .part1 {
    width: 50%;
}

#About .container .part1 .frame {
    width: 300px; 
    background-color: transparent;
    position: relative;
    border: 5px solid var(--main-color);
    border-radius: 10px;
    margin: auto;
}

#About .container .part1 .frame .image {
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    overflow: hidden;
}

#About .container .part1 .frame .image img {
    width: 100%;
    display: block;
}

#About .container .part1 .image .layout {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, .5);;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

#About .container .part1 .image:hover .layout {
    top: 0;
}

#About .container .part1 .image .layout ul {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

#About .container .part1 .image .layout ul li  /* #About .container .part1 .image .layout ul li i     Why not */ {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;;
    justify-content: center;
    align-items: center;
}

